body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: gray;
}

.icon {
  color: #1e3050;
  font-size: 1.5rem;
  cursor: pointer;
}

.time-label {
  width: 120px;
}

.date-label {
  color: red;
  font-weight: 500;
}

.title-label {
  cursor: pointer;
}

img {
  cursor: pointer;
}

.navbar-brand {
  font-weight: bold;
}

.nav-item {
  font-weight: 500;
}

#news-container {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  align-content: space-evenly;
}

#first-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#news-box {
  display: flex;
  position: relative;
}

#image-container {
  display: flex;
  margin-left: 200px;
  width: 800px;
  height: 630px;
  overflow: hidden;
  justify-content: center;
  position: relative;
  border-radius: 20px;
}

#news-box-image {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: block;
  object-fit: cover;
}

#text-box {
  top: 50px;
  border-radius: 10px;
  padding: 30px;
  justify-content: space-evenly;
  position: absolute;
  background-color: #f6f6f6;
  width: 430px;
  height: 500px;
  z-index: 1;
  overflow: hidden;
}

#news-box-logo-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

#text-box-header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#text-box-header > * {
  margin: 0 5px;
}

#header-bookmark-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

#news-row {
  display: flex;
  align-items: center;
}

#news-row-image-container {
  height: 140px;
  width: 140px;
  overflow: hidden;
}

#news-row-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#news-row-logo-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

#news-row-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 350px;
  margin-left: 20px;
  justify-content: space-evenly;
}

#second-section {
  margin: 40px;
}

#news-column {
  width: 350px;
}

#news-column-image-container {
  height: 350px;
  width: 350px;
  overflow: hidden;
}

#news-column-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#news-column-group {
  display: grid; /* Use CSS Grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /* Adjust as needed */
  justify-content: center;
  gap: 30px; /* Add some gap between the divs */
}

@media (max-width: 1700px) {
  #first-section {
    display: block;
    align-items: center;
    /* border: 2px green solid; */
  }

  #news-row-group {
    margin-top: 30px;
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(
      auto-fit,
      minmax(550px, 1fr)
    ); /* Adjust as needed */
    gap: 30px; /* Add some gap between the divs */
    justify-content: space-between;
  }

  #image-container {
    width: 100%;
    height: auto;
    align-items: center;
  }

  #news-row {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  #news-container {
    padding: 15px;
  }

  #news-box {
    min-width: 430px;
    min-height: 500px;
  }

  #image-container {
    margin: 0px;
  }

  #news-box-image {
    width: 100%;
    height: 100%;
  }

  #text-box {
    height: 100%;
    width: 100%;
    top: 0px;
    opacity: 80%;
  }

  #news-row-group {
    margin-top: 10px;
    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(
      auto-fit,
      minmax(450px, 1fr)
    ); /* Adjust as needed */
    gap: 5px; /* Add some gap between the divs */
    justify-content: center;
  }
}
